$brandeis-blue: #1A6BF9ff;
$jet: #3B383Eff;
$tropical-indigo: #7782ECff;
$vivid-sky-blue: #2EC4F5ff;
$vivid-green: rgb(28, 201, 135);
$platinum: #E1E2E5ff;
$french-gray: rgb(144, 143, 145);
$white: #FFFFFFff;