@use '../../utilities/color.scss';

.hero {
  text-align: left;
  padding-top: 6rem;

  .blob-wrapper {
    position: relative;
  }
  .blob-1 {
    width: 2000px;
    height: 1500px;
    background-color: color.$vivid-sky-blue;
    position: absolute;
    top: -70rem;
    left: -88rem;
    z-index: -100;
    border-bottom-right-radius: 20rem;
  }

  h1, h3 {
    width: 400px;
    color: color.$white;
  }
  
}